<div class="wrapper">
  <!-- Main Header -->
  {{> _financeHeader}}
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    {{> _financeSidebar}}
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        GCR Dashboard
        <small>Control Panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/finance/welcome/{{user.token}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-money"></i> Update Student Payment</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" class="moveUp1" action="/finance/update/selected-payment/{{_id}}/{{user.token}}/?_method=PUT" method="post">
              <div class="box-body scroll">
                <div class="form-group has-feedback">
                  {{#if error_msg}}
                    <p class="text-danger noMargin">{{error_msg}}</p>
                  {{/if}}
                  {{#if error_msg_}}
                    <p class="text-danger noMargin">{{error_msg_}}</p>
                  {{/if}}
                  {{#if success_msg}}
                    <p class="text-success noMargin">{{success_msg}}</p>
                  {{/if}}
                  {{#if success_msg_}}
                    <p class="text-success noMargin">{{success_msg_}}</p>
                  {{/if}}
                  <input type="text" class="form-control" name="indexNumber" placeholder="Enter Index Number" value="{{indexNumber}}" required>
                  <span class="fa fa-pencil form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                  <label>Choose Level</label>
                  <select name="level" class="form-control" required>
                    {{#each level as |levelValue levelKey|}}
                      <option value="{{levelValue}}">{{levelValue}}</option>
                    {{/each}}
                  </select>
                  <span class="fa fa-bars form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                  <label>Choose Semester</label>
                  <select name="semester" class="form-control" required>
                    {{#each semester as |semesterValue semesterKey|}}
                      <option value="{{semesterValue}}">{{semesterValue}}</option>
                    {{/each}}
                  </select>
                  <span class="fa fa-dot-circle-o form-control-feedback"></span>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary btn-raised">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -- >
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; {{showYear}} <a href="#">CodeLove, Inc</a>.</strong> All rights reserved.
  </footer>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>